<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>
            <div class="container">
                  <h2>Update Product</h2>
                  <form action="/doUpdate" method="post">
                        <div class="form-group">
                              <label for="image">Image:</label>
                              <input type="url" name="txtImage" class="form-control" value="{{model.image}}">
                        </div>
                        <div class="form-group">
                              <label for="name">Name:</label>
                              <input type="text" name="txtName" class="form-control" value="{{model.name}}">
                        </div>
                        <div class="form-group">
                              <label for="price">Price:</label>
                              <input type="text" name="txtPrice" class="form-control" value="{{model.price}}">
                        </div>
                        <div class="form-group">
                              <label for="trademark">Trademark:</label>
                              <select name="txtTrademark" class="form-control" value="{{model.trademark}}">
                                    <option value="LEGO NINJAGO">LEGO NINJAGO</option>
                                    <option value="CLEVER HIPPO TOY">CLEVER HIPPO TOY</option>
                                    <option value="ZOIDS 2">ZOIDS 2</option>
                                    <option value="LEGO MINECRAFT">LEGO MINECRAFT</option>
                              </select>
                        </div>
                        <div class="form-group">
                              <label for="bill">Total Bill:</label>
                              <input type="text" name="txtAmount" class="form-control" value="{{model.amount}}">
                        </div>
                        <div class="form-group">
                              <label for="totalPrice">Total Price:</label>
                              <input type="text" name="txtTotal" class="form-control" value="{{model.total}}">
                        </div>
                        <input type="submit" value="Update" class="btn btn-primary"> 
                  </form>
            </div>
      </body>
</html>